
/*-------------GOOGLE FONT----------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root{
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --red-color: rgb(217, 67, 94);
}
/*CONFIGURACIONES GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}

button {
    /* background-color: rgb(184, 168, 168); */
    border: none;
    color: rgb(27, 26, 26);
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    margin: 1rem 0;
    cursor: pointer;
  }
/*===============HEADER================*/
header{
  padding-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    color:var(--title-color);
}

nav{
    height: 60px;
    width: 95vw;
    background-color: hsl(206, 4%, 97%);
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 8rem;
  margin-right: 4rem;
}

.logo span{
  margin-left: .5rem;
  font-weight: bold;
}

.nav-menu{
  display: flex;
  list-style: none;
  margin-left: 1rem;
}

.nav-menu a{
  text-decoration: none;
  padding-left: 15px;
  margin-right: 2rem;
  text-decoration: none;
}

.nav-menu-link{
  color: var(--red-color);
  font-weight: bold;
  font-size: 17px;
}

.nav-menu-link_active{
  color: black
}

.icons{
  display: flex;
  margin-right: 1.75rem;
  padding-right: 15px;
  font-size: 1.2rem;
  width: 65%;
  justify-content: flex-end;
  position: relative;
}

.count > img{
  height: 1.5rem;
  margin-right: 1.2rem;
}

.count > span{
  font-size: x-small;
  background-color: rgb(77, 70, 70);
  padding: .3rem .5rem;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: 4.5rem;
  top:.55rem;
}
/*=============SECCION NEW SWEATSHIRTS Y BOTONES=========*/
.introduction{
  width: 45%;
  position: relative;
  top: 7rem;
  left: 5rem;
 }
 
 .home_img{
   display: flex;
   position: absolute;
  left: 45rem;
  width: 80%;
  height: 140%;
  z-index: -1;
  background-color: rgb(224, 56, 90);
  padding-top: 30px;
 }
 
 .home-data{
   padding-left: 60px;
 }
 
 .home-data> h1{
   font-size: 38px;
 }
 
 .home-data > p{
     font-size: 16px;
     color: var(--text-color);
 }

.price{
  font-size: 25px;
  color: var(--red-color);
  font-weight: bold;
}

.button{
  display: flex;
  align-items: center;
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
  border: none;
  outline: none;
}

.home__button{
  font-size: 15px;
}

.button:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}

.home__button:hover{
  background-color: rgb(217, 67, 94);
  }

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

ul{
    width: 50%;
    font-size:large;
    padding: 0;
}

ul>a{
    text-decoration: none;
    margin: 0 .8rem;
}

li{
    display: inline;
    color:var(--title-color);
}

/*=========================PRODUCTS======================*/
.sub-menu{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 1rem;
}

.content-submenu{
    padding-right: 1rem;
    text-align: center;
    width: 12%;
    border-right: 1px solid rgb(167, 159, 159);
    color: var(--text-color);
    font-size: 17px;
}

.content-submenu>p{
    margin-bottom: .4rem;
    font-size: 20px;
    font-weight: bold;
}

.last{
  border-right: none;
}
/*===============CARDS=============*/
article{
  width: 97vw;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.img-article{
  height: 400px;
  width: 290px;
  position: relative;
  display: flex;
  background-color: rgb(222, 221, 221);
  border-radius: 15px 15px 0 0;
  justify-content: center;
  align-items: center;
}

article div{
  border-radius: 15px;
  /* background-color: aqua;    */
  box-shadow: 0 0 20px gray;
  height: 520px;
  width: 290px;
  margin: 20px;
}

.img-article img{
  height: 70%;
}

article div button{
  height: 60px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 0 20px rgb(172, 170, 170);
  position: absolute;
  right: 30px;
  top: 370px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.center{
 display: flex;
 justify-content: center;
}

.content-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;
}
/*=======FOOTER=======*/
footer{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--card-color);
    padding-left: 100px;
    padding-right: 30px;
}

.content-footer{
    border: 1px solid rgb(221, 215, 215);
    width: 20%;
    padding: 4rem 1.5rem 2.5rem 1.5rem;
    border-color: transparent;
    font-size: 18px;
}

.content-footer>p{
    font-weight: bold;
    padding-bottom: 1rem;
}

.content-footer>small{
    display: block;
    padding: .25rem 0;
    color:var(--text-color)
}

.shopping-cart{
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  background-color: rgb(223, 220, 215);
  position: fixed;
  right: 0;
  top:0; 
  z-index: 50;
  display: none;
}

.footer_copy{
  background-color: var(--card-color);
  text-align: center;
  color: var(--text-color);
}
/*======EXTRA========*/
.products-list{
    display:flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding-top: 5rem;
}

.products-list>i{
    position: absolute;
    top: .8rem;
    right: .8rem;
}

.empty-state{
    padding: top 5rem;;
}

.empty-state>h5{
    padding-bottom: 1rem;
}

.empty-state>img{
    width: 55%;
    height: 55%;
}

.empty-state p {
    font-size: small;
}

.shopping-cart.show{
    display: block;
}

/*==== Modo Oscuro ====*/
body.darkmode {
  background-color: var(--button-color-alt);
  color: white;
}

/*=== Shopping Cart === */
.shopping-cart{
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  background-color: rgb(223, 220, 215);
  position: fixed;
  right: 0;
  top:0; 
  z-index: 50;
  display: none;
}
.products-list{
  display:flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding-top: 5rem;

}
.products-list>i{
  position: absolute;
  top: .8rem;
  right: .8rem;
}
.empty-state{
  padding: top 5rem;;
}
.empty-state>h5{
  padding-bottom: 1rem;
}
.empty-state>img{
  width: 55%;
  height: 55%;
}
.empty-state p {
  font-size: small;
  
}

.shopping-cart.show{
  display: block;
}
/*----------------------------*/