
/*-------------GOOGLE FONT----------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*
    COLORES:
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    COLORES DARK MODE:
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/
:root{
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
    --red-color: rgb(217, 67, 94);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}
header{
  padding-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    color:var(--title-color);
}

.introduction{
 width: 45%;
 position: relative;
 top: 7rem;
 left: 5rem;
}

.home_img{
  display: flex;
  position: absolute;
 left: 45rem;
 width: 80%;
 height: 140%;
 z-index: -1;
 background-color: rgb(224, 56, 90);
 padding-top: 30px;
}

.home-data{
  padding-left: 60px;
}
.home-data> h1{
  font-size: 38px;
}

.price{
  font-size: 25px;
  color: var(--red-color);
  font-weight: bold;
}

.home-data > p{
    font-size: 16px;
    color: var(--text-color);
}

button {
    background-color: rgb(184, 168, 168);
    border: none;
    color: rgb(27, 26, 26);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
    margin: 1rem 0;
    cursor: pointer;
  }

  nav{
    height: 60px;
    width: 100vw;
    background-color: hsl(206, 4%, 97%);
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 4rem;
}
.logo img, .logo span{
  margin-right: 1rem;
}
.nav-menu{
  display: flex;
  list-style: none;
  margin-left: 1rem;
  
}

.nav-menu a{
  text-decoration: none;
  padding-left: 15px;
}
.nav-menu li{
  margin-right: 2rem;
  text-decoration: none;
}

.nav-menu-link{
  color: var(--red-color);
  font-weight: bold;
  font-size: 17px;
}

.nav-menu-link_active{
  color: black
}

.icons{
  display: flex;
  margin-right: 1.75rem;
  padding-right: 20px;
  font-size: 1.2rem;
  width: 65%;
  justify-content: flex-end;
  position: relative;
}

.icons :nth-child(3){
  display: none;
}
.cart-count{
  font-size: x-small;
  background-color: rgb(77, 70, 70);
  padding: .3rem .5rem;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: 0rem;
  top: .6rem;
}


.add_cart{
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.button{
  display: flex;
  align-items: center;
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
  border: none;
  outline: none;
}
.home__button{
  font-size: 15px;
}

.button:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}
.home__button:hover{
  background-color: rgb(217, 67, 94);
  }

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

ul{
    width: 50%;
    font-size:large;
    padding: 0;
}
ul>a{
    text-decoration: none;
    margin: 0 .8rem;
    
    
}


li{
    display: inline;
    color:var(--title-color);
}
.icons-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 35%;
    text-align: right;
    z-index: 1;
       
}
.icons-nav >img, .count>img{
    height: 1.5rem;
    margin-right: 1.2rem;
    
}
.count >  span{
    font-size: x-small;
    background-color: rgb(77, 70, 70);
    padding: .3rem .5rem;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    right: 1.5rem;
    top:.55rem;
}

.sub-menu{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 1rem;
}
.conten-submenu{
    padding-right: 1rem;
    text-align: center;
    width: 12%;
    border-right: 1px solid rgb(167, 159, 159);

}
.conten-submenu>p{
    margin-bottom: .4rem;
}
.content-cards{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-around;
    margin-top: 2rem;
    
}
.cards{
    
    border: 1px solid rgb(228, 221, 221);
    border-radius: 5% 5% 0 0;
    position: relative;
    
}
.cards img{
    width: 100%; 
    border-radius: 5% 5% 0 0;
    background-color: var(--card-color);
    padding-bottom: 1.5rem;
}
.content-icon{
    position: absolute;
    border-radius: 50%;
    background-color: var(--container-color);
    border: .5px solid  rgb(236, 232, 232);
    left: 70%;
    top:70%;
}


.content-text{
    background-color: var(--container-color);
    padding: 1rem 0rem 1rem 2rem;
}
footer{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--card-color);
    
    
}
.content-footer{
    border: 1px solid rgb(221, 215, 215);
    width: 20%;
    padding: 4rem 1.5rem 2.5rem 1.5rem;
}
.content-footer>p{
    font-size: .75rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.content-footer>small{
    display: block;
    padding: .25rem 0;
}
.social-icons>i{
    padding-right: .25rem ;
}
.shopping-cart{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    background-color: rgb(223, 220, 215);
    position: fixed;
    right: 0;
    top:0; 
    z-index: 50;
    display: none;
}
.products-list{
    display:flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding-top: 5rem;

}
.products-list>i{
    position: absolute;
    top: .8rem;
    right: .8rem;
}
.empty-state{
    padding: top 5rem;;
}
.empty-state>h5{
    padding-bottom: 1rem;
}
.empty-state>img{
    width: 55%;
    height: 55%;
}
.empty-state p {
    font-size: small;
    
}

.shopping-cart.show{
    display: block;
}

